antlr4-python3-runtime
appnope
attrs
backcall
bleach
catboost
cycler
decorator
defusedxml
entrypoints
graphviz
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
javalang
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
plotly
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
retrying
scikit-learn
scipy
Send2Trash
six
terminado
testpath
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
zipp